# BEGIN DENY LIST --
# END DENY LIST --
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /codeigniter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /codeigniterdartproject/index.php/$1 [L]
</IfModule>